<nav class="flex justify-between flex-wrap items-center bg-primary-blue p-2" >
    <div class="block lg:hidden">
      <a href="/" class="flex items-center py-2 text-white hover:border-transparent hover:text-primary-blue hover:bg-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5"><path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" /></svg>
      </a>
    </div>
    <div class="flex items-center flex-shrink-0 text-white">
      <span class="text-md tracking-wide uppercase">
        <%= heading %>
      </span>
    </div>
    <div class="block lg:flex lg:items-center lg:w-auto">
      <div class="inline-block text-xs px-4 py-2 leading-none text-white">
      </div>
    </div>
</nav>
