<div>
  <h1>Budgetism</h1>

  <div class="flex flex-col justify-evenly items-center fixed bottom-0 w-full p-4">
    <%= link_to "Log in", new_user_session_path , class: "w-full mb-4 p-5 tracking-wider border-2 border-primary-blue text-primary-blue uppercase text-center block font-medium text-sm hover:bg-primary-blue hover:text-white" %>
    <%= link_to "Sign up", new_user_registration_path , class: "w-full p-5 tracking-wider bg-primary-blue text-center uppercase text-white block font-medium text-sm hover:border-2 hover:border-primary-blue hover:bg-white hover:text-primary-blue" %>
  </div>
</div>
