<div class='bg-[url("https://images.unsplash.com/photo-1544655152-4dc3bc4df059?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGJ1ZGdldHxlbnwwfDF8MHx8&auto=format&fit=crop&w=800&q=60")] backdrop-contrast-125 bg-white/30 bg-bottom w-full h-screen bg-cover'>
  <div class="backdrop-contrast-125 bg-white/30">
    <h1 class="text-4xl font-bold text-sky-700 text-center h-screen pt-32">Budgetism</h1>
  </div>
  <div class="flex flex-col justify-evenly items-center fixed bottom-0 w-full p-4">
    <%= link_to "Log in", new_user_session_path , class: "w-full mb-4 p-5 tracking-wider border-2 border-primary-blue text-primary-blue uppercase text-center block font-medium text-sm hover:bg-primary-blue hover:text-white" %>
    <%= link_to "Sign up", new_user_registration_path , class: "w-full p-5 tracking-wider bg-primary-blue text-center uppercase text-white block font-medium text-sm hover:border-2 hover:border-primary-blue hover:bg-white hover:text-primary-blue" %>
  </div>
</div>
