<div class="mx-auto md:w-2/3 w-full">
  <%= render "form", category: @category %>
  <div class="w-full flex justify-center">
    <%= link_to 'Back to Categories', categories_path, class: "shadow-inner mt-8 py-3 px-5 bg-gray-100 font-light text-xs" %>
  </div>
</div>
